.popup__container {
  box-shadow: 0 0 25px rgb(0 0 0 0.15);
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  display: flex;
  height: 330px;
  width: 430px;

}

@media screen and (max-width: 767px) {
  .popup__container {
    height: 322px;
    width: 282px;
  }
}
