.popup__save-button {
  margin: 0;
  padding: 0;
  background-color: #000000;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  font-style: normal;
  line-height: 22px;
  min-height: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  width: 358px;
  border: none;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    line-height: 17px;
    min-height: 46px;
    font-size: 14px;
    width: 238px;
  }
}
