.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: space-between;
  margin: 45px 200px 0 200px;
  width: calc(100% - 400px);
  flex-direction: column;
  display: flex;
  height: 74px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 0 0 0;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: flex-end;
    height: 56px;
  }
}
